<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>All users - RandL</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container text-center">
            <div>
               <form th:action="@{/logout}" method="POST">
                   <p>Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>
                   <input type="submit" value="Sign Out"/>
               </form>
            </div>
            <div>
                <h1>All Users List</h1>
            </div>
            <div>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${listUsers}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>