
*.properties
Green Learner/FileOperations/FileOperations/fileStorage/14_Notes_DistributedTracing_JoaoDuarte.pdf
Green Learner/FileOperations/FileOperations/fileStorage/Screenshot_3.png
Green Learner/FileOperations/FileOperations/fileStorage/Screenshot_4.png
Green Learner/FileOperations/FileOperations/mvnw.cmd
*.yaml
Green Learner/FileOperations/FileOperations/mvnw
*.png
*.odt
